---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

<hr />

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://kawa1lg1rls-github-blog.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


<script>
     
    (function(){
    //   var customContainer = document.getElementsByClassName("custom_container")[0]

    //   function setContentsLeft(x) {
    //     if (x.matches) { // If media query matches
    //       customContainer.style.left = "300px"
    //       customContainer.style.width = 
    //     } else 
    //     {
    //       customContainer.style.left = "calc(25% + 50px)"
    //     }
    //   }

    //   var x = window.matchMedia("(max-width: 1000px)")
    //   setContentsLeft(x) 
    // x.addListener(setContentsLeft) 
      // 메인컨텐츠 가져와서 헤딩태그 수집
      var main_contents = document.getElementById("main_content")
      var allHeadings = main_contents.querySelectorAll("h1, h2, h3, h4, h5, h6")
      var nicknameView = document.getElementsByClassName("view")[0]
      // var customContainer = document.getElementsByClassName("custom_container")[0]

      // customContainer.style.width = "100%"
      // main_contents.style.width = "100%"

      // 메인컨텐츠에 헤딩이 1개이상일때(제목빼고 더 있을때)
      if( allHeadings.length > 1 ) {
        // 목차 추가
        var temp_main = document.createElement("div")
        nicknameView.after(temp_main)
        temp_main.className = "custom_index"
        
        var beforeName = "null"
        var nodes = new Array()
        var beforeNumber = 0
  
        // i는 제목 pass용
        var isTitle = true
        var isFirstTag = true
  
        var nodesDepth = 0
        var count = 0
        for(var heading of allHeadings) {
          // 제목 pass 
          if(isTitle) { 
            isTitle = false 
            continue
          }
          
          var localName = heading.localName
          var localNumber = parseInt(localName[1])
          // 이전 태그와 이름이 다를경우 ul을 추가하거나,
          // 이전으로 돌아간다.
          // nodesDepth를 건드린다.
          if(localName != beforeName) {
            // 처음 시작일 경우 세팅
            if(isFirstTag) {
              isFirstTag = false
              var firstTag = document.createElement("ul")
              nodes.push ( firstTag )
              beforeNumber = localNumber
              nodesDepth = 0
            } else {
              // 헤딩태그 더 작은게 생겼을 경우, 
              // ul을 추가해야함.
              if(beforeNumber < localNumber) {
                var newUl = document.createElement("ul")
                nodes[nodesDepth].appendChild(newUl)
                nodes.push(newUl)
                nodesDepth += 1
              } else {
                nodesDepth -= 1
              }
  
              beforeNumber = localNumber
            }
            beforeName = localName
          }
          
          var aTagBeforeHeading = document.createElement("a")
          var currentA = document.createElement("a")
          var currentLi = document.createElement("li")
          var currentH4 = document.createElement("h4")
  
          var name = "inPage_" + count
          aTagBeforeHeading.name = name            
          currentA.href = "#" + name
          currentA.style.textDecoration = "none"  
  
          currentH4.style.margin = "0px 0px 0px 0px"
          currentH4.style.color = "#e0e0e0"
          currentH4.style.fontWeight = "bold"
  
          currentH4.innerHTML = heading.innerHTML
          currentA.appendChild(currentH4)
          currentLi.appendChild(currentA)
          nodes[nodesDepth].appendChild(currentLi)
  
          heading.before(aTagBeforeHeading)
  
          count += 1
        }
  
        var indexString = document.createElement("h2")
        indexString.innerHTML = " - Index - "
        indexString.style.color = "#e0e0e0"
        indexString.style.fontWeight = "bold"
  
        temp_main.append(indexString)
        temp_main.append(nodes[0])

        // temp_main.style.position = "fixed"
        // temp_main.style.left = "0"
        // temp_main.style.minWidth = "250px"
        // temp_main.style.paddingRight = "50px"
        // temp_main.style.width = "25%"

      }
    })()

  </script>